@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My Jokes Page</h1>
    <p>My goal is to have a great repository of jokes, including Dad Jokes ;-)</p>
</div>

