@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This web application is only meant as a testing grounds for the author to learn ASP.NET.
    There are no guarentees of data by using this web application and the owner/author will
    not be held liable for any breaches.</p>

